python=3.13.9
transformers=5.3.0
datasets
seqeval
torch=2.11.0
psutil
streamlit=1.51.0
librosa=0.11.0
soundfile=0.13.1
scikit-learn
pandas
matplotlib
seaborn
scipy
torchvision=0.26.0
huggingface_hub=1.16.1
tokenizers=0.22.2
